html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-family: 'Ubuntu',Helvetica,arial,sans-serif;
    color: #ddd;
    background-color: #222;
    margin: 20px;
    padding: 0;
    background-image: url("https://wallpaperaccess.com/full/13327.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
::-webkit-input-placeholder {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
:-moz-placeholder {
    /* Firefox 18- */

    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
::-moz-placeholder {
    /* Firefox 19+ */

    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
:-ms-input-placeholder {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    color: #ffc;
    background-color: #710000;
    font-size: 3em;
    margin: 0 250px 5px;
    padding-bottom: 20px;
    font-style: italic;
    text-align: center;
    letter-spacing: .5em;
    border-style: solid;
    border-width: 0.2em;
    border-color: #a40000;
    border-radius: 15px;
    opacity: .8;
    }
h3 {
    font-family: 'Lekton', sans-serif;
    text-align: center;
    color: #ffffcc;
    background-color: #003200;
    font-size: 2em;
    opacity: .8;
    margin: 0 250px;
    border-style: solid;
    border-radius: 15px;
    border-color: #005800;
    border-width: .2em;
}
p {
    text-align: center;
}
.button {
    text-align: center;
}
.left {
    float: left;
    width:50%;
    text-align:left;
}
.right {
    float: left;
    width:50%;
    text-align:right;
}
.error {
    font-size: 1.5em;
    margin: 0 auto;
    color: orangered;
}
.arrow {
    color: #111;
    transition: all 0.5s;
}
#intro {
    width: 38em;
    margin: 0 auto;
    max-width: 100%;
    line-height: 1.5;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    color: #ffffcc;
}
#in {
    width: available;
    font-size: 1.5em;
    margin: 0 auto;
    color: #bdbd00;
}
#al-right {
    text-align: right;
}
a {
    text-decoration: none;
    color: #ffffcc;
    transition: all 0.5s;
}
a:focus {
    outline: 0;
}
a:hover,
a:focus {
    color: crimson;
    text-decoration: none;
}
a,
a:visited {
    font-weight: 400;
}
textarea {
    opacity: .6;
}
table {
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #555;
    opacity: .8;
}
th {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffc;
    color: black;
}
td {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #222;
    color: #ffffcc;
    padding: 10px;
    text-align: justify;
}
thead {
    border: 1px solid black;
}
input {
    font-weight: bold;
}
input:hover,
input:focus {
    color: #005800;
}