<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New Question</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% if email %}
        <div id="textbox">
        <p class="left" id="in">{{ email }}</p><p class="right" id="in"><a href="/logout">LOGOUT</a></p>
        </div>
    {% endif %}
    {% if not email %}
        <div id="textbox">
        <p class="left" id="in"><a href="/login">LOGIN</a></p><p class="right" id="in"><a href="/registration">SIGN UP</a></p>
        </div>
    {% endif %}
    <h1>New question</h1>
    <form action="/add-question" method="post">
        <p id="back">Title:</p>
        <p><textarea placeholder="Enter title" rows="2" cols="40" name="title" required="True"></textarea></p>
        <p id="back">Message:</p>
        <p><textarea placeholder="Your question goes here" rows="16" cols="40" name="message" required="True"></textarea></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <p id="in"><a href="/list">Back</a></p>
</body>
</html>