<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate - Home</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <h1>Ask Mate</h1>
    <br>
    <h3 id="intro">WELCOME</h3>
    <br>
    {% for item in questions[:5] %}
        <p id="intro">"{{ item.get('message') }}"</p><br>
    {% endfor %}
    <form action="/list"><p><input type="submit" value="ENTER"</p></form>
    <form action="/registration"><p><input type="submit" value="SIGN UP"</p></form>
    </body>
</html>