<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>
<body>
    <h1>List of questions</h1>
    <table>
        <thead style="border: 1px solid black;">
        <tr>
            <th>id</th>
            <th>submission_time</th>
            <th>view_number</th>
            <th>vote_number</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {% for item in questions %}
        <tr>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('id') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('submission_time') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('view_number') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('vote_number') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('title') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('message') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('image') }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>