<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Questions</h1>
    <table>
        <thead>
        <tr>
            <th>time<a href="/list?order_by=submission_time&order_direction=ASC">∧</a><a href="/list?order_by=submission_time&order_direction=DESC">∨</a></th>
            <th>title<a href="/list?order_by=title&order_direction=ASC">∧</a><a href="/list?order_by=title&order_direction=DESC">∨</a></th>
            <th>message<a href="/list?order_by=message&order_direction=ASC">∧</a><a href="/list?order_by=message&order_direction=DESC">∨</a></th>
            <th>image</th>
            <th>views<a href="/list?order_by=view_number&order_direction=ASC">∧</a><a href="/list?order_by=view_number&order_direction=DESC">∨</a></th>
            <th>votes<a href="/list?order_by=vote_number&order_direction=ASC">∧</a><a href="/list?order_by=vote_number&order_direction=DESC">∨</a></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in questions %}
        <tr>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('submission_time') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('title') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('message') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('image') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}"><p>{{ item.get('view_number') }}</p></a></td>
            <td><a href="/question/{{ item.get('id') }}"><p>{{ item.get('vote_number') }}</p></a></td>
            <td><form action="/question/{{ item.get('id') }}/new-answer"><input type="submit" value="Answer"></form></td>
            <td><form action="/question/{{ item.get('id') }}/delete"><input type="submit" value="Delete"></form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table><br>
    <form action="/add-question"><p><input type="submit" value="New Question"></p></form>
</body>
</html>