<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {% if email %}
        <div id="textbox">
        <p class="left" id="in">{{ email }}</p><p class="right" id="in"><a href="/logout">LOGOUT</a></p>
        </div>
    {% endif %}
    {% if not email %}
        <div id="textbox">
        <p class="left" id="in"><a href="/login">LOGIN</a></p><p class="right" id="in"><a href="/registration">SIGN UP</a></p>
        </div>
    {% endif %}
    <h1>Questions</h1>
    <table>
        <thead>
        <tr>
            <th>time<a class="arrow" href="/list?order_by=submission_time&order_direction=asc">∧</a><a class="arrow" href="/list?order_by=submission_time&order_direction=desc">∨</a></th>
            <th>title<a class="arrow" href="/list?order_by=title&order_direction=asc">∧</a><a class="arrow" href="/list?order_by=title&order_direction=desc">∨</a></th>
            <th>message<a class="arrow" href="/list?order_by=message&order_direction=asc">∧</a><a class="arrow" href="/list?order_by=message&order_direction=desc">∨</a></th>
            <th>image</th>
            <th>views<a class="arrow" href="/list?order_by=view_number&order_direction=asc">∧</a><a class="arrow" href="/list?order_by=view_number&order_direction=desc">∨</a></th>
            <th>votes<a class="arrow" href="/list?order_by=vote_number&order_direction=asc">∧</a><a class="arrow" href="/list?order_by=vote_number&order_direction=desc">∨</a></th>
            <th>answer</th>
            <th>comment</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in questions %}
        <tr>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('submission_time') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('title') }}</a></td>
            <td><a href="/question/{{ item.get('id') }}">{{ item.get('message') }}</a></td>
            <td>
                {% if not item.get('image') %}
                    <img src="{{ url_for('static', filename='assets/no_image.png') }}" width="100" height="100">
                {% else %}
                    <img src="{{ url_for('static', filename='assets/{0}'.format(item.get('image'))) }}" width="100" height="100">
                {% endif %}
            </td>
            <td id="al-right"><a href="/question/{{ item.get('id') }}">{{ item.get('view_number') }}</a></td>
            <td id="al-right"><a href="/question/{{ item.get('id') }}">{{ item.get('vote_number') }}</a></td>
            <td><form action="/question/{{ item.get('id') }}/new-answer"><input type="submit" value="Answer"></form></td>
            <td><form action="/question/{{ item.get('id') }}/new-comment"><input type="submit" value="Comment"></form></td>
            <td><form action="/question/{{ item.get('id') }}/delete"><input type="submit" value="Delete"></form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table><br>
    {% if email %}
        <p id="in" class="left"><a href="/users">Users list</a></p>
        <p id="in" class="right"><a href="/user/{{ user_id }}">Profile</a></p>
        <form action="/add-question"><p><input type="submit" value="New Question"></p></form>
    {% endif %}
</body>
</html>