<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Answer</title>
    <style>
        body {
                background-color: palegreen;
            }
        table {
            border: 2px solid black;
            background-color: lightgoldenrodyellow;
        }
        th, td {
            border: 1px solid black;
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>

<body>
    <h1 align="center">Answers</h1>
    <h3 align="center">Question</h3>
    <table align="center">
        <thead style="border: 1px solid black;">
        <tr>
            <th>time</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
            <th>views</th>
            <th>votes</th>
        </tr>
        </thead>
        <tbody>
        {% for item in question %}
        <tr>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('title') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('image') }}</td>
            <td><p align="center">{{ item.get('view_number') }}</p></td>
            <td><p align="center">{{ item.get('vote_number') }}</p></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3 align="center">Answers</h3>
    <table align="center">
        <thead style="border: 1px solid black;">
        <tr>
            <th>time</th>
            <th>message</th>
            <th>image</th>
            <th>votes</th>
        </tr>
        </thead>
        <tbody>
        {% for item in answers %}
        <tr>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('image') }}</td>
            <td><p align="center">{{ item.get('vote_number') }}</p></td>
        </tr>
        {% endfor %}
        </tbody>
    </table><br>
    <form action="/question/{{ question[0].get('id') }}/new-answer" method="post">
    <p align="center">Answer:</p>
    <p align="center"><textarea rows="8" cols="40" name="message"></textarea></p>
    <p align="center"><input type="submit" value="Submit"></p>
    </form><br>
    <p align="center"><a href="/list">Back to Questions</a></p>
</body>
</html>