<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question Comment</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>Comments</h1>
    <h3>Question</h3>
    <br>
    <table>
        <thead>
        <tr>
            <th>time</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
            <th>views</th>
            <th>votes</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question.get('submission_time') }}</td>
            <td>{{ question.get('title') }}</td>
            <td>{{ question.get('message') }}</td>
            <td>{{ question.get('image') }}</td>
            <td><p>{{ question.get('view_number') }}</p></td>
            <td><p>{{ question.get('vote_number') }}</p></td>
            <td><form action="/question/{{ question.get('id') }}/delete"><input type="submit" value="Delete"></form></td>
        </tr>
        </tbody>
    </table>
    <br>
    <h3>Comments</h3>
    <br>
    <table>
        <thead>
        <tr>
            <th>time</th>
            <th>message</th>
            <th>edited</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in question['comments'] %}
        <tr>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('edited_count') }}</td>
            <td><form action="/comments/{{ item.get('id') }}/delete"><input type="submit" value="Delete"></form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="/question/{{ question.get('id') }}/new-comment" method="post">
    <p>Comment:</p>
    <p><textarea rows="8" cols="40" name="message" required="True"></textarea></p>
    <p><input type="submit" value="Submit"></p>
    </form>
    <p><a href="/list">Back to Questions</a></p>
</body>
</html>