<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Answer</title>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
</head>

<body>
    <h1 align="center">Answers</h1>
    <h3 align="center">Question</h3>
    <table align="center">
        <thead style="border: 1px solid black;">
        <tr>
            <th>id</th>
            <th>time</th>
            <th>views</th>
            <th>votes</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {% for item in questions %}
        <tr>
            <td>{{ item.get('id') }}</td>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('view_number') }}</td>
            <td>{{ item.get('vote_number') }}</td>
            <td>{{ item.get('title') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('image') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3 align="center">Answers</h3>
    <table align="center">
        <thead style="border: 1px solid black;">
        <tr>
            <th>id</th>
            <th>time</th>
            <th>votes</th>
            <th>question id</th>
            <th>message</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {% for item in answers %}
        <tr>
            <td>{{ item.get('id') }}</td>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('vote_number') }}</td>
            <td>{{ item.get('question_id') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('image') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table><br>
    <form action="/question/{{ questions[0].get('id') }}/new-answer" method="post">
    <p align="center">Answer:</p>
    <p align="center"><textarea rows="8" cols="40" name="message"></textarea></p>
    <p align="center"><input type="submit" value="Submit"></p>
    </form><br>
    <p align="center"><a href="/list">Back</a></p>
</body>
</html>