<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <style>
        body {
            background-color: palegreen;
        }
        table, th, td {
            border: 1px solid black;
            background-color: lightgoldenrodyellow;
        }
    </style>
</head>

<body>
    <h1 align="center">Answers</h1>
    <h3 align="center">Question</h3>
    <table align="center">
        <thead style="border: 1px solid black;">
        <tr>
            <th>time</th>
            <th>views</th>
            <th>votes</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {% for item in questions %}
        <tr>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('view_number') }}</td>
            <td>{{ item.get('vote_number') }}</td>
            <td>{{ item.get('title') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('image') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3 align="center">Answers</h3>
    <table align="center">
        <thead style="border: 1px solid black;">
        <tr>
            <th>time</th>
            <th>votes</th>
            <th>message</th>
            <th>image</th>
        </tr>
        </thead>
        <tbody>
        {% for item in answers %}
        <tr>
            <td>{{ item.get('submission_time') }}</td>
            <td>{{ item.get('vote_number') }}</td>
            <td>{{ item.get('message') }}</td>
            <td>{{ item.get('image') }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table><br>
    <form action="/question/{{ questions[0].get('id') }}/new-answer"><p align="center"><input type="submit" value="New Answer"></p></form><br>
    <p align="center"><a href="/list">Back</a></p>
</body>
</html>