<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Answers</h1>
    {% if email %}
        <p class="left" id="in">USER: {{ email }} <a href="/logout">LOGOUT</a></p>
    {% endif %}
    <h3>Question</h3>
    <br>
    <table>
        <thead>
        <tr>
            <th>time</th>
            <th>title</th>
            <th>message</th>
            <th>image</th>
            <th>views</th>
            <th>votes</th>
            <th>comment</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ question.get('submission_time') }}</td>
            <td>{{ question.get('title') }}</td>
            <td>{{ question.get('message') }}</td>
            <td>{{ question.get('image') }}</td>
            <td><p>{{ question.get('view_number') }}</p></td>
            <td><p>{{ question.get('vote_number') }}</p></td>
            <td><form action="/question/{{ question.get('id') }}/new-comment"><input type="submit" value="Comment"></form></td>
            <td><form action="/question/{{ question.get('id') }}/delete"><input type="submit" value="Delete"></form></td>
        </tr>
        </tbody>
    </table>
    <br>
    {% if question['answers'] %}
    <h3>Answers</h3>
    <br>
    <table>
        <thead>
        <tr>
            <th>time</th>
            <th>message</th>
            <th>image</th>
            <th>votes</th>
            <th>comment</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in question['answers'] %}
        <tr>
            <td><a href="/answer/{{ item.get('id') }}/new-comment">{{ item.get('submission_time') }}</a></td>
            <td><a href="/answer/{{ item.get('id') }}/new-comment">{{ item.get('message') }}</a></td>
            <td><a href="/answer/{{ item.get('id') }}/new-comment">{{ item.get('image') }}</a></td>
            <td><a href="/answer/{{ item.get('id') }}/new-comment">{{ item.get('vote_number') }}</a></td>
            <td><form action="/answer/{{ item.get('id') }}/new-comment"><input type="submit" value="Comment"></form></td>
            <td><form action="/answer/{{ item.get('id') }}/delete"><input type="submit" value="Delete"></form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form action="/question/{{ question.get('id') }}/new-answer"><p><input type="submit" value="New Answer"></p></form><br>
    <p><a href="/list">Back to Questions</a></p>
</body>
</html>