<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate - Registration</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <h1>Registration</h1>
    <form method="post">
        <p><input name=user_name placeholder="email@email.com" required type=email value="{{ request.form.user_name }}"></p>
        <p><input name=password placeholder="password" required type=password>
        <p><input type=submit value=SignUp>
    </form>

</body>
</html>